{{>partial_header}}
# import models into model package
{{#models}}{{#model}}from . import {{classFilename}}  # noqa: E501,F401
from {{modelPackage}}.{{classFilename}} import {{classname}}  # noqa: E501,F401{{/model}}
{{/models}}
