{{>partial_header}}
# import apis into api package
{{#apiInfo}}{{#apis}}from . import {{classVarName}}  # noqa: E501,F401
from {{apiPackage}}.{{classVarName}} import {{classname}}  # noqa: E501,F401
{{/apis}}{{/apiInfo}}
