[project]
name = "{{{projectName}}}"
dynamic = ["version"]
description = "{{appDescription}}"
readme = "README.md"
license = { file = "LICENSE" }
classifiers = ["Programming Language :: Python :: 3 :: Only"]
requires-python = ">=3.11"
dependencies = [
    "certifi>=2024.2.2",
    "python-dateutil>=2.9.0",
    "urllib3>=2.2.1"
]

[project.optional-dependencies]
test = [
    "coverage",
    "pytest",
    "pytest-mock",
    "pytest-socket",
]

[project.urls]
Code = "{{packageUrl}}"
Issues = "{{packageUrl}}/issues"

[build-system]
requires = ["setuptools>=65", "setuptools-scm>=8", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 127
target-version = ['py311']
include = '\.pyi?$'

[tool.coverage.run]
branch = true
data_file = ".coverage"
relative_files = true
source = ["{{packageName}}"]

[tool.pyright]
include = ["{{packageName}}", "tests"]

[tool.setuptools]
packages = ["{{packageName}}"]

[tool.setuptools_scm]
root = ".."
