from importlib.metadata import version, PackageNotFoundError

try:
    __version__ = version("{{projectName}}")
except PackageNotFoundError:
    # package is not installed
    __version__ = "{{packageVersion}}"
